.headerDiv{
    display: inline-block;
    text-align: center;
}
/* cursor blinking */
@keyframes cursor{
    100%{border-color: transparent;}
}
/* typing effect */
@keyframes typing{
    from{width:0px;}
    to{width: 100%;}
}
.header{
    font-size: 30px;
    font-family: monospace;
    letter-spacing: 2px;
    color: white;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 3s, 
        cursor 0.8s;
        animation-fill-mode: forwards;
}

a:after{
    content: "";
    position: absolute;
    background-color: white;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
a:hover{
    color: white;
}
a:hover:after{
    width: 100%;
}

/*När man hovrar över bilderna(3x3) så dyker en border upp*/
.picDiv:hover{
    border: 1px solid white;
    transition: 0.1s;
}