*{
    margin:0px;
}
#divContainer{
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    height: 100vh;
    background-color: cornflowerblue;
}
#nobtnCounter{
    position: absolute;
    margin: 5px;
}
#gif-div{
    background-image: url("../images/Donkey.gif");
    margin-left: 27%;
    margin-top: 3%;
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 250px;
    border: 2px solid black;
    border-radius:125px;
}
#question{
    position: absolute;
    left: 50%;
    margin-top: 15px;
    transform: translateX(-50%);
    color: black;
    font-family: sans-serif;
    letter-spacing: 2px;
}

#wrapper {
    margin: 40px;
    min-width: 600px;
    max-width: 610px;
    display: block;
    position: relative;
    height: 400px;
    max-width: 410px;
    width: 600px;
    background-color: aliceblue;
    border-radius: 15px;
    justify-content: center;
    border: 1px black solid;
}
.btn-group button{
    position: absolute;
    color: white;
    width: 150px;
    height: inherit;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 30px;
    border: 0px solid black;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

.btn-group{
    margin-top: 15%;
    width: 100%;
    height: 40px;
}
button:nth-child(1){
    top: 340px;
    left: 100px;
    background: cornflowerblue;
    border: 1px black solid;
}
button:nth-child(2){
    top: 340px;
    background: white;
    color: black;
    border: 1px solid black;
    transition: top 0.15s, left 0.15s;
    left: 300px;
}
div::-webkit-scrollbar {
    display: none;
}

#homebtn{
    border: 0;
    position: absolute;
    top: 10px; 
    left: 10px;
    cursor: pointer;
}
#homebtn img{
    width: 60px;
}

#homebtn:hover{
    scale: 1.1;
}

button :hover{
    scale: 1.1;
}
